# Deployer private key
PRIVATE_KEY=0x0

# Network to deploy to (mainnet, testnet, or devnet)
NETWORK="testnet"

# Owner address for L1LiskToken contract
L1_TOKEN_OWNER_ADDRESS=0x0

# Owner of L2Claim contract
L2_CLAIM_OWNER_ADDRESS=0x0

# Owner of L2Staking contract
L2_STAKING_OWNER_ADDRESS=0x0

# Owner of L2LockingPosition contract
L2_LOCKING_POSITION_OWNER_ADDRESS=0x0

# Owner of L2Governor contract
L2_GOVERNOR_OWNER_ADDRESS=0x0

# Owner of L2VotingPower contract
L2_VOTING_POWER_OWNER_ADDRESS=0x0

# Owner of L2Reward contract
L2_REWARD_OWNER_ADDRESS=0x0

# Salt for deterministic smart contract address generation
DETERMINISTIC_ADDRESS_SALT="test_contract_address_salt"

# L1 standard bridge address (Mainnet, Goerli, Sepolia or custom)
L1_STANDARD_BRIDGE_ADDR=0xFBb0621E0B23b5478B630BD55a5f21f67730B0F1

# L1 RPC URL, e.g. Infura, Alchemy, or your own node
L1_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY

# L2 RPC URL, e.g. Infura, Alchemy, or your own node
L2_RPC_URL=https://optimism-sepolia.infura.io/v3/YOUR_INFURA_KEY

# *************** SMART CONTRACT VERIFICATION ***************

# Contract verifier - blockscout or etherscan. If not provided, verification will be skipped.
CONTRACT_VERIFIER=blockscout

# Verifier URL for smart contracts deployed on L1 network
L1_VERIFIER_URL=https://eth-sepolia.blockscout.com/api\?

# Verifier URL for smart contracts deployed on L2 network
L2_VERIFIER_URL=https://sepolia-blockscout.lisk.com/api\?

# L1 Etherscan API key
L1_ETHERSCAN_API_KEY=

# L2 Etherscan API key
L2_ETHERSCAN_API_KEY=

# *************** PRIVATE TESTNET ***************

# RPC URL of the L1 network from which a private L1 test network is forked if a private test network is used, e.g. Infura, Alchemy
L1_FORK_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY

# RPC URL of the L2 network from which a private L2 test network is forked if a private test network is used, e.g. Infura, Alchemy
L2_FORK_RPC_URL=https://optimism-sepolia.infura.io/v3/YOUR_INFURA_KEY

# Test network default mnemonic
TEST_NETWORK_MNEMONIC="test test test test test test test test test test test junk"



# *************** SWAP AND BRIDGE ***************
L1_LIDO_BRIDGE_ADDR=0xdDDbC273a81e6BC49c269Af55d007c08c005ea56
L2_LIDO_BRIDGE_ADDR=0x7A7265ae66b094b60D9196fD5d677c11a6A03438
L1_LIDO_TOKEN_ADDR=0xB82381A3fBD3FaFA77B3a7bE693342618240067b
L2_LIDO_TOKEN_ADDR=0xA363167588e8b3060fFFf69519bC440D1D8e4945

SWAP_AND_BRIDGE_LIDO_ADDR=0xb161D2063D7b3Ce85E465F827E07d6E5234c98c9

L1_STANDARD_BRIDGE_ADDR=0x1Fb30e446eA791cd1f011675E5F3f5311b70faF5

TOKEN_HOLDER_PRIV_KEY=
# L1_DIVA_TOKEN_ADDR=
# L2_DIVA_TOKEN_ADDR=